/* ボーダーライン */
.border {
    border: 1px solid red;
}
/* マージン */
.margin {
    margin: 4px;
}

.fieldtop {
    display: flex;
    justify-content: space-between;
}

.button-left {
    background-color: rgb(117, 115, 115);
}

.font-color-white {
    color: white;
}